<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог Сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<header th:insert="blocks/header"></header>
<div align="center">
    <h1>Регистрация</h1>
    <br>
    <br>

    <form th:action="@{registration}" method="post">
        <div><label> <input type="text" name="username" placeholder="Введите логин" class="form-control"
                            style="text-align: center"></label></div>
        <br>
        <div><label><input type="text" name="password" placeholder="Введите пароль" class="form-control"
                           style="text-align: center"></label></div>
        <br>

        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
        <br>
        <br>
        <br>

    </form>
</div>
</body>
</html>