<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Блог Сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<header th:insert="blocks/header"></header>
<div class="container mt-5">
    <nav class="navbar navbar-light bg-light">
        <h1>Блог сайта</h1>
        <form method="post"  th:action="@{filter}" class="form-inline" >
            <input class="form-control mr-sm-2" type="search" name="filter" placeholder="Поиск" aria-label="Search">
            <button type="submit" class="btn btn-outline-primary">Найти</button>
        </form>
    </nav>



    <div class="container mt-2">
        <div th:each=" el : ${posts}"  class="card mb-3">
            <div class="card-body">
                <h3  class="card-title" th:text="${el.title}"/>
                <p class="card-text" th:text="${el.anons}"/>
                <br>
                <br>
                <div class="container"  style="position: relative;width: 600px;">
                    <div th:if="${el.filename}">
                        <img th:src="'/img/'+${el.filename}" class="card-img-bottom">
                    </div>
                </div>
                <br>
                <p class="card-text" /><small class="text-muted" th:text="'Автор: ' +${el.authorName}"></small>
                <a th:href="'/blog/' + ${el.id} " style="position: relative; top: 0px; left: 888px;"
                   class="btn btn-warning">Подробнее</a>
            </div>
        </div>
    </div>
</div>


<footer th:insert="blocks/footer"></footer>
</body>
</html>